header {
    background-color: var(--primary);
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    color: var(--text-color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    .header-menu{
        margin: 0;
        li{
            border-radius: 3px;
            padding: 5px 15px;
            transition: background 0.2s;
            a:hover{
                background: var(--primary-dark);
            }
        }
    }
    .logo {
        font-weight: 700;
        font-size: 2rem;
        color: var(--text-color-light);
      }
  }

  .active{
    background: var(--primary-dark);
}
